.motion-block-slide {
  display: flex;
  flex-direction: column;
  height: calc(var(--projector-inner-height) * 1px - 20px);

  .column-item {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    .motion-number {
      white-space: nowrap;
      margin-right: 10px;
      font-weight: 500;
    }
    .motion-details {
      overflow: hidden;
    }
    .motion-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .motion-recommendation {
      line-height: 1;
      .label {
        display: inline-block;
        font-size: 0.5em;
        font-weight: bold;
        border-radius: 5px !important;
        padding: 0px 8px !important;
        line-height: 2;
        max-width: 95%;
      }
    }
    .motion-title {
      font-size: 0.6em;
    }
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  projector-motion-block {
    padding-top: 12px;
    overflow: hidden;
    flex-grow: 1;
  }
}
