<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/projector_current_list_of_speakers.css" />

<div class="content{{if .Overlay}} overlay{{end}} list-of-speakers">
    {{if .Overlay}}
    <h3>
        List of speakers
    </h3>
    {{else}}
    <h1 class="projector_h1">
        List of speakers
    </h1>
    {{end}}
    <div class="detail-view-text">
        {{if .CurrentSpeaker}}
            <div class="speaker current">
                {{ .CurrentSpeaker.Name }}
            </div>
        {{end}}

        {{if .CurrentInterposedQuestion}}
            <div class="speaker current interposed-question">
                {{ .CurrentSpeaker.Name }}
            </div>
        {{end}}

        <div class="interposed-questions">
            <ol class="next-speakers">
            {{range .InterposedQuestions}}
                <li class="speaker">
                    {{if .Name}}
                        {{ .Name }}
                    {{else}}
                        <i>Unknown user</i>
                    {{end}}
                </li>
            {{end}}
            </ol>
        </div>

        <ol class="next-speakers">
        {{range .Speakers}}
            <li class="speaker">
                {{ .Name }}
            </li>
        {{end}}
        </ol>
    </div>
</div>
