<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/projector_current_list_of_speakers.css" />


{{ define "speaker" }}
    {{if .IsSpeaking}}
        <span class="material-icons">mic</span>
    {{end}}
    {{if .Name}}
        {{ .Name }}
    {{else}}
        <i>{{ Loc.Get "Unknown user" }}</i>
    {{end}}
    {{if .IsContribution}}
        <span class="material-icons">star</span>
    {{end}}
    {{if .IsIntervention}}
        <span class="material-icons">error</span>
    {{end}}
    {{if .IsInterposedQuestion}}
        <span class="material-icons">help</span>
    {{end}}
    {{if .IsPointOfOrder}}
        <span class="material-icons point-of-order">warning</span>
    {{end}}
    {{if .IsForspeach}}
        <span class="material-icons forspeach">add_circle</span>
    {{end}}
    {{if .IsCounterspeach}}
        <span class="material-icons counterspeach">remove_circle</span>
    {{end}}
{{ end }}

<div class="content{{if .Overlay}} overlay{{end}} list-of-speakers">
    {{if .Overlay}}
    <h3>
        {{ Loc.Get "List of speakers" }}
    </h3>
    {{else}}
    <h1 class="projector_h1">
        {{ Loc.Get "List of speakers" }}
    </h1>
    {{end}}
    <div class="detail-view-text">
        {{if .CurrentSpeaker}}
            <div class="speaker current">
                {{ template "speaker" .CurrentSpeaker }}
            </div>
        {{end}}

        {{if .CurrentInterposedQuestion}}
            <div class="speaker current interposed-question">
                {{ template "speaker" .CurrentInterposedQuestion }}
            </div>
        {{end}}

        <div class="interposed-questions">
            <ol class="next-speakers">
            {{range .InterposedQuestions}}
                <li class="speaker">
                    {{ template "speaker" . }}
                </li>
            {{end}}
            </ol>
        </div>

        <ol class="next-speakers">
        {{range .Speakers}}
            <li class="speaker">
                {{ template "speaker" . }}
            </li>
        {{end}}
        </ol>
    </div>
</div>
