<link rel="stylesheet" type="text/css" href="../static/slide/projector_current_list_of_speakers.css" />

<div class="content{{if .Overlay}} overlay{{end}}">
    {{if .Overlay}}
    <h3>
        List of speakers
    </h3>
    {{else}}
    <h1 class="projector_h1">
        List of speakers
    </h1>
    {{end}}
    <div class="detail-view-text">
        {{if .CurrentSpeaker}}
            <div class="speaker current">
                {{ .CurrentSpeaker.Name }}
            </div>
        {{end}}
        <ol class="next-speakers">
        {{range .Speakers}}
            <li class="speaker">
                {{ .Name }}
            </li>
        {{end}}
        </ol>
    </div>
</div>
