<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/projector_list_of_speakers.css" />

<div class="content list-of-speakers-slide">
    <div class="slidetitle">
        <h1>
            {{ Loc.Get "List of speakers" }}
            {{ if .LoS.Closed }}
                <span class="material-icons los-lock">lock</span>
            {{ end }}
        </h1>
        <h2>
            {{ if .ContentTitle.AgendaItemNumber }}
                {{ .ContentTitle.AgendaItemNumber }}
            {{ end }}
            {{ if and .ContentTitle.AgendaItemNumber .ContentTitle.Title }}
                ·
            {{ end }}
            {{ if .ContentTitle.Title }}
                {{ .ContentTitle.Title }}
            {{ end }}
            &ndash; {{ len .LoS.SpeakerIDs }} {{ Loc.Get "Speakers" }}
        </h2>
    </div>

    <div class="">

    </div>
</div>
