<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/poll_common.css" />
<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/poll_single_vote.css" />

<div class="content full-height poll-single-vote">
  <div class="single-votes-header">
    <div class="single-votes-slidetitle">
      <h1>{{ .Title }}</h1>
      {{ if .Subtitle }}
        <h2 class="poll-title">{{ .Subtitle }}</h2>
      {{ end }}
    </div>

    <div class="poll-bar-wrapper">
      <div class="poll-bar">
        {{ if .Data.TotalYes.IsPositive }}
          <div class="bg-yes" style="flex: {{ .Data.TotalYes }} 0 auto"></div>
        {{ end }}
        {{ if .Data.TotalNo.IsPositive }}
          <div class="bg-no" style="flex: {{ .Data.TotalNo }} 0 auto"></div>
        {{ end }}
        {{ if and .Data.TotalAbstain.IsPositive (ne .Poll.OnehundredPercentBase "YN") }}
          <div class="bg-abstain" style="flex: {{ .Data.TotalAbstain }} 0 auto"></div>
        {{ end }}
      </div>
      <div class="data-area">
        <div class="general-data">
          <div>
            {{ Loc.Get "Valid votes" }}:
            {{ .Data.TotalVotesvalid }}
            {{ if ne .Poll.OnehundredPercentBase "YN" }}
              ({{ .Data.PercVotesvalid }} %)
            {{ end }}
          </div>
          <div>
            {{ Loc.Get "Entitled users" }}:
            {{ .NumEntitledUsers }}
            {{ if eq .Poll.OnehundredPercentBase "entitled" }}
              <!--{ .Poll.entitled_users_at_stop.length | pollPercentBase: polldata }-->
            {{ end }}
          </div>
        </div>
        {{ if .PollMethod.Yes }}
          <os-icon-container icon="check_circle" iconClass="yes">
            <div class="total-result-wrapper">
              <span class="yes number">
                {{ Loc.Get "Yes" }}:
                {{ .Data.TotalYes }}
              </span>
              <div class="yes percent">({{ .Data.PercYes }} %)</div>
            </div>
          </os-icon-container>
        {{ end }}
        {{ if .PollMethod.No }}
          <os-icon-container icon="cancel" iconClass="no">
            <div class="total-result-wrapper">
              <span class="no number">
                {{ Loc.Get "No" }}:
                {{ .Data.TotalNo }}
              </span>
              <div class="no percent">({{ .Data.PercNo }} %)</div>
            </div>
          </os-icon-container>
        {{ end }}
        {{ if .PollMethod.Abstain }}
          <os-icon-container icon="circle" iconClass="abstain">
            <div class="total-result-wrapper">
              <span class="abstain number">
                {{ Loc.Get "Abstain" }}:
                {{ .Data.TotalAbstain }}
              </span>
              {{ if eq .Poll.OnehundredPercentBase "YNA" }}
                <div class="abstain percent">({{ .Data.PercAbstain }} %)</div>
              {{ end }}
            </div>
          </os-icon-container>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="content-wrapper votes-area">
    {{ range .Votes }}
      <div class="vote-entry">
        {{ if eq .Value "Y" }}
          <os-icon-container icon="check_circle" iconClass="yes">
            <span class="vote-name">
              {{ .FirstName }}
              {{ .LastName }}
            </span>
          </os-icon-container>
        {{ else if eq .Value "N" }}
          <os-icon-container icon="cancel" iconClass="no">
            <span class="vote-name">
              {{ .FirstName }}
              {{ .LastName }}
            </span>
          </os-icon-container>
        {{ else if eq .Value "A" }}
          <os-icon-container icon="circle" iconClass="abstain">
            <span class="vote-name">
              {{ .FirstName }}
              {{ .LastName }}
            </span>
          </os-icon-container>
        {{ else }}
          <os-icon-container icon="radio_button_unchecked" iconClass="no-content">
            <span class="vote-name">
              {{ .FirstName }}
              {{ .LastName }}
            </span>
          </os-icon-container>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
