<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/projector_countdown.css" />
<div class="countdown {{ if .Options.Fullscreen }}fullscreen{{ else }}overlay{{ end }}" data-projection-id="{{ .ProjectionID }}">
  <projector-countdown
    id="countdown-{{ .Countdown.ID }}"
    countdown-time="{{ printf "%.0f" .Countdown.CountdownTime }}"
    default-time="{{ .Countdown.DefaultTime }}"
    display-type="{{ .Options.DisplayType }}"
    running="{{ .Countdown.Running }}"
    warning-time="{{ .WarningTime }}"
  ></projector-countdown>
  {{ if not .Options.Fullscreen }}
    {{ if .Countdown.Description }}
      <div class="description">
        {{ .Countdown.Description }}
      </div>
    {{ end }}
  {{ end }}
</div>