<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/projector_wifi_access_data.css" />

<div class="content">
  <div class="transform-scale">
    <h1 class="projector_h1">{{ Loc.Get "Wifi access data" }}</h1>
    <div class="wifi-slide-content">
      {{ if .WlanData.QrString }}
        <qr-code text="{{ .WlanData.QrString }}" size="450"></qr-code>
      {{ end }}
      <div>
        {{ if .WlanData.SSID }}
          <div>
            <h3>{{ Loc.Get "Wifi name" }}</h3>
            {{ .WlanData.SSID }}
          </div>
        {{ end }}
        {{ if .WlanData.Password }}
          <div>
            <h3>{{ Loc.Get "Password" }}</h3>
            {{ .WlanData.Password }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
