 <!DOCTYPE html>
<html>
<head>
    <title>OpenSlides</title>

    <link href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
</head>

<body>
    <div id="projector-page" class="projector-container">{{ .ProjectorContent }}</div>

    <script type="module">
        import { Projector } from '../static/projector.js';

        let id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        Projector(document.getElementById(`projector-page`), id)
    </script>
</body>
</html>
